@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 204 25% 8%;

    --muted: 180 14% 97%;
    --muted-foreground: 206 10% 36%;

    --popover: 0 0% 100%;
    --popover-foreground: 204 25% 8%;

    --border: 204 25% 95%;
    --input: 204 25% 95%;

    --card: 0 0% 100%;
    --card-foreground: 204 25% 8%;

    --primary: 201 100% 44.2%;
    --primary-foreground: 0 0% 100%;

    --secondary: 204 25% 95%;
    --secondary-foreground: 204 25% 8%;

    --accent: 204 100% 97%;
    --accent-foreground: 201 100% 35%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --ring: 201 100% 44.2%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 200 18% 91%;

    --muted: 210 12% 10%;
    --muted-foreground: 206 10% 60%;

    --accent: 210 10% 15%;
    --accent-foreground: 200 18% 91%;

    --popover: 204 25% 8%;
    --popover-foreground: 200 18% 91%;

    --border: 200 7% 20%;
    --input: 200 7% 20%;

    --card: 204 25% 8%;
    --card-foreground: 200 18% 91%;

    --primary: 201 100% 44.2%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 12% 10%;
    --secondary-foreground: 200 18% 91%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;

    --ring: 201 100% 44.2%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
